:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-dark: rgb(9, 48, 56); 
   }
   
   * {
     box-sizing: border-box;
     outline: 0;
   }
   
   body {
     margin: 0;
     padding: 0;
     background: var(--primary-color);
     font-size: 1.3em;
     line-height: 1.5em;
   }
   
   h1 {
     text-align: center;
   }
   
   .container {
     max-width: 640px;
     margin: 50px auto;
     background: #fff;
     padding: 20px;
     border-radius: 10px;
   }
   
   .calculadora {
     width: 400px;
     margin: auto;
   }
   
   .display {
     font-size: 2em;
     width: 100%;
     text-align: right;
   }
   
   .btn {
     width: 100%;
     height: 50px;
     font-size: 1em;
     border: none;
     background: gray;
     cursor: pointer;
   }
   
   .btn:hover {
     background: DimGray;
   }
   
   .btn-eq {
     background: royalblue;
   }
   